@media #{$medium-up}{
	body.page-template-tmpl-about{
		overflow: hidden;
		width: 100%;

		.about{
			width: 200%;
		}

		.switch-screen{
		}

		.about-container,
		.contact-container{
			width: 100%;
			position: relative;
		}

		button.switch-screen{
			position: absolute;
			top: 50%;
			z-index: 99;
		}

		button.show-contact{ right: 0; }
		button.show-about { left: 0; }
		
		#gform_wrapper_1{
			margin: 0;
		}

		#gform_fields_1,
		.gform_footer{
			@include grid-row();

			li.gfield{
				clear: none!important;
				label{ margin-top: 0; }
			}

			textarea,
			input{ width: 100%; padding: 1rem; }

			textarea{ height: 100px; }
		}

		#gform_submit_button_1{
			color: $white;
			width: rem-calc(461);
			margin-left: 0.9375rem;

		}
	}

	.about{
	height: 100%;

	transition: all 500ms $easeOutExpo;

	&.contact{
		transform: translateX(-50%);
	}

	.flex-center{
		display: flex;
		align-items: center;
	}
	

	display: flex;
	align-items: center;
	justify-content: center;


	.serif *{
		font-family: $font-family-serif;
		color: $white;
		font-size: 1rem;
	}

	.contact{
		li{
			font-size: rem-calc(32);
			letter-spacing: 1px;

			a:hover{
				color: $primary-color;
			}
		}

		*{ color: $white; }
	}

	h2.page-title{
		color: $white;
		font-size: rem-calc(52);
	}
}

@media #{$medium-up}{
	body.page-template-tmpl-about{
		footer{
			margin-top: rem-calc(-84);
			margin-bottom: 0;
		}
	}
}
	
}

@media #{$large-up}{

	.about-container,
	.contact-container{
		margin-top: -3rem;
	}

	.about-container button,
	.contact-container button{
		position: absolute;
		top: 50%;
		margin-top: rem-calc(-22);
	}
}

body.page-template-tmpl-about{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

@media #{$small-only}{
	.about-container,
	.contact-container{
		padding: 4rem 1.5rem 0;
	}

	.about-container{
		p, li{
				font-size: 2rem;
			}
	}

	h2.page-title{
		color: $white;
		font-size: 3rem;
	}

	body.page-template-tmpl-about{
		background-attachment: fixed;
		
		.columns{
			p, li, strong{
				color: $white;
			}
		}

		.contact li{
			font-size: 1.5rem;
		}

	}

	#gform_submit_button_1{
		margin-left: 1rem;
		width: 310px;
	}
}