section.hero{
	height: 100vh;
	background-size: cover;
	background-position: center top;
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	.content{
		text-align: center;
	}

	ul.social{
		position: absolute;
		bottom: 3rem;
		left: rem-calc(20);
		margin-bottom: 0;
	}

	svg{
		display: block;
		margin-bottom: rem-calc(28);

		@media #{$small-only}{ width: rem-calc(280) }
		@media #{$medium-up}{ width: rem-calc(400) }
	}
}