section:not(#hero){
	background-color: $white;
}

section#work{

	@media #{$medium-up} {
		ul#og-grid{
			margin-left: rem-calc(30);
		}
	}
		

	.row{ max-width: rem-calc(1440); }

	.iso-filters button.active{
	  background-color: $primary-color;
	  color: $white;
	  border-color: transparent;
	}

	padding: 0 0 4rem;

	.select-type button{
		width: 50%;
		display: inline-block;
		float: left;
		font-size: 1.5rem;
		letter-spacing: 2px; 

		&.active{ background-color: $dark-blue }
	}

	.categories{
		text-align: center;
		margin-left: rem-calc(-10);

		li{
			display: inline-block;
			margin: 1rem;

			a.button { font-family: $font-family-serif; }
		}
	}

	.thumbs{
		.iso-item{
			margin-bottom: 1rem;
			position: relative;
			> div { 
				position: relative;
				height: 100%;

			}

			&:hover a{
				opacity: 1;
			}

			a{
				display: block;

				background-color: rgba(255,255,255,0.8);
				opacity: 0;

				transition: all 500ms $easeOutExpo;

				position: absolute;
				padding: 0 30px 60px 30px!important;
				top: 0; left: 0;
				
				width: 100%;
				height: 100%;
				padding: 1rem;
			}

			@media #{$small-only}{
				a{
					padding: 0 10px 20px 10px!important;
				}
			}

			.table{
				display: table;
				height: 100%;
				width: 100%;
			}

			.cell{
				display: table-cell;
				vertical-align: middle;
				height: 100%;
				width: 100%;
				text-align: center;
			}

			h4{
				font-size: rem-calc(27);
				color: $monsoon;
				letter-spacing: 1px;
			}

			p{
				font-family: $font-family-serif;
				font-size: rem-calc(14);
				color: $monsoon;
				margin-bottom: 0;
			}
		}
	}
}

section.text-over-image,
section.clients{

	.white-arrow{
		position: absolute;
		z-index: 999;
		left: 50%;
		top: 0;
		margin-left: -20px;
		width: 40px;
		height: 40px;
		border: 20px solid transparent;
		border-top-color: #fff;
	}

	.notch{
		height: 20px;
		width: 100%;
		background: url(../images/notch.png) no-repeat center center;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 999;
	}

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: $primary-color;

	&:before{
		display: block;
		width: 20px;
		height: 20px;
		background-color: red;
	}

	@media #{$large-up}{
		background-position: center -200px;
	}

	padding: 5rem 0;
	text-align: center;

	position: relative;

	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba(0,0,0,0.2);
		top: 0; bottom: 0;
		left: 0; right: 0;
	}

	.row{
		position: relative;
		z-index: 9;
	}

	h1,
	h2,
	p{ color: $white; }

	p{ font-family: $font-family-serif; }
}

section.columns-3{
	padding: 4rem 0 6rem;

	h1{
		margin-bottom: 2rem;
		color: $jumbo;
	}

	h2{ 
		color: $jumbo; 
		font-family: $font-family-serif;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0;
		font-size: rem-calc(16);
	}

	img.icon{ 
		display: inline-block;
		margin: 2rem 0 2rem;
	}

	.columns{
		opacity: 0;
		top: 1rem;
		position: relative;

		transition: all 0.5s $easeOutExpo;
		transition-delay: 500ms;

		&:nth-of-type(2){ transition-delay: 600ms; }
		&:nth-of-type(3){ transition-delay: 700ms; }

		&.show{
			opacity: 1;
			top: 0;
		}
	}

	p{
		font-family: $font-family-serif;
		font-size: rem-calc(15);
		margin-top: 1rem;
		max-width: 200px;
		margin: 1rem auto 0;
		color: $jumbo;
	}
}

section.clients{
	.client-list{
		max-width: rem-calc(800);
		margin: 0 auto;

		img{ padding: rem-calc(20) rem-calc(40); }
		button{ display: none!important; }
	}
}

section.insta{
	
	padding: 4rem 0;

	.sbi_follow_btn,
	.sb_instagram_header{ display: none!important; }

	h2{
		text-align: center;
		font-size: rem-calc(48);
		color: $jumbo;
	}

	#sbi_images{
		overflow-x: scroll;
		white-space: nowrap;

		-webkit-overflow-scrolling: touch;

		.sbi_item{ width: rem-calc(300)!important; }
	}
}

.angular-google-map-container { 
    height: rem-calc(400); 
  }